html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


.img-responsive {
    box-sizing: border-box;
    box-shadow: 10px 5px 5px black;
    margin: 10px;
}

.artist-header {
    position: relative;
    background-color: black;
    bottom: 1;
    left: 0;
    right: 0;
    padding: 30px;
    color: white;
}

.ng-hide {
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@media (min-width: 262px) {
    html { background: red; }
}

.art-info {
    padding-right: 50px;
    position: relative; 
    right: 0;
    float: right;
    color: black;
    text-align: right;
}

.paypal-div{
    float: right;
}
     
.art-larger {
    position: fixed;
    top: 10%;
    left: 28%;
    margin-top: -70px;
    margin-left: -100px;
    max-width: 800px;
}

.art-large-text{
    font-weight: 800;
    padding-bottom: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
