html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.row {
    background-color: black
}

.artist-header {
    color: white;
    float: left;
    padding-left: 60px;
    padding-bottom: 10px;
}

.artist-header-two {
    color: white;
    float: right;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-responsive {
    box-shadow: 10px 5px 5px black;
    margin: 10px;
}

.ng-hide {
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.art-larger {
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}

.all-info {
    position: absolute;
    padding-right: 50px;
    margin-top: 100px;
    text-align: right;
    right: 0;
    top: 0;
    float: right;
}

.art-large-text{
    font-weight: bolder;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; 
}

 @media (max-width: 1280px) {
     .art-larger, .all-info {
     position: static;
     float: right;
     margin-top: 0;
     margin-bottom: 0;
     }
 }

@media (max-width: 480px) {
    .artist-header, .artist-header-two {
    font-size: 20px;
     }
 }

.art-select {
    padding-bottom: 10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}